* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family:
	/* 1 */ -apple-system, BlinkMacSystemFont, /* 2 */ "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", /* 3 */ "Helvetica Neue",
    sans-serif;
  font-weight: 300;
  position: relative;
  height: 100vh;
  padding-top: 50px;
  display: flex;
}

#info {
  margin-top: 50px;
}

#deptinfo {
  margin-top: 30px;
}

#france {
  background-color: #3b4e6a;
  position: relative;
  height: 100%;
  width: 55%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#filters {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  width: 100%;
  background: #39465a8f;
}

.departement,
.arrondissement {
  cursor: pointer;
  stroke: rgb(255, 255, 255);
  stroke-width: 0.1px;
  transform-origin: center;
  transform-style: preserve-3d;
  transition: 0.5s fill, fill-opacity ease-in;
}
.arrondissement {
  stroke-width: 0.005px;
}

.departement:hover,
.arrondissement:hover {
  stroke-width: 0.4px;
}

.arrondissement:hover {
  stroke-width: 0.01px;
}
#arrondissements.overview .arrondissement:hover {
  stroke-width: 0.05px;
}
body.selected #arrondissements:not(.overview) .arrondissement:not(.selected) {
  filter: blur(0.01px) !important;
}

body.selected .departement:not(.selected),
body.selected #arrondissements:not(.overview) .arrondissement:not(.selected) {
  /* fill: rgba(0, 0, 0, 0.39); */
  fill-opacity: 0.2;
  stroke-opacity: 0.2;
  filter: blur(0.06px);
}
#d75.selected {
  display: none;
}

#arrondissements {
  display: none;
}
#arrondissements.selected {
  display: initial;
}

.departement.selected,
.arrondissement.selected {
  fill: rgb(107, 174, 214) !important;
}

div.tooltip {
  position: absolute;
  opacity: 0.8;
  z-index: 1000;
  text-align: left;
  border-radius: 4px;
  padding: 8px;
  color: #fff;
  background-color: #000;
  font: 12px sans-serif;
  max-width: 300px;
}

svg {
  color: white;
  display: block;
  width: 100%;
}

circle {
  user-select: none;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

#topbar-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222222;
  padding: 10px;
  z-index: 10000;
  height: 50px;
}

#topbar-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#topbar-list li {
  margin-left: 2px;
  float: left;
}

#topbar-list li a {
  display: block;
  float: left;
  width: 100px;
  color: #e0e0e0;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

#topbar-list li a:hover {
  text-decoration: underline;
}

#charts {
  background-color: #dddddd;
  width: 45%;
  overflow-y: auto;
  padding: 10px;
}

.graph-container {
  position: relative;
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
}

.pie-container {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.pie-container > canvas {
  display: inline-block !important;
}
.pie-container > canvas:first-of-type {
  margin-right: 2vw;
}

.doughnut-container {
  position: relative;
  width: 100%;
  text-align: center;
}

#legend {
  opacity: 1;
  transition: all 1s;
  user-select: none;
  touch-action: none;
  pointer-events: none;
}
body.selected[selected="departement"] #legend {
  opacity: 0.12;
  transition: all 0.3s;
}
body.selected[selected="arrondissement"] #legend {
  opacity: 0.12;
  transition: all 0.3s;
}

body:not(.selected) #accidents {
  display: none;
}

@media screen and (max-width: 750px) {
  body {
    flex-direction: column;
  }
  #france,
  #charts {
    width: 100%;
  }
  #france {
    flex-direction: column;
    align-items: stretch;
  }
  svg {
    transform: scale(1.5);
  }
}



/* ***************** RAPPORT ****************** */

#rapport-body {
  overflow: hidden;
}

#rapport-container {
  width: 100%;
  height: 100%;
}

#rapport {
  width: 100%;
  height: 100%;
}
